@page "/RegistroVehiculo"
@page "/RegistroVehiculo/{VehiculoId:int}"
@inject HttpClient httpclient

<EditForm model = "Vehiculo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class ="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de vehiculo.</h3>
            </div>
            <div class=card-body>

                <div class= "col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>ID Vehiculo:</label>
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value ="Vehiculo.VehiculoId" class="form-control" aria-describedby="BotonBuscar"/>
                        <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="BotonBuscar"><i class ="oi oi-magnifying-glass"/></button>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="Fecha">Fecha:</label>
                    <InputText @bind-Value="Vehiculo.Fecha" class="form-control" />
                    <ValidationMessage For="@(() => Vehiculo.fecha)" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Descripcion">Descripcion:</label>
                    <InputText @bind-Value="Vehiculo.Descripcion" class="form-control"/>
                    <ValidationMessage For="@(() => Vehiculo.descripcion)" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Costo">Costo:</label>
                    <InputText @bind-Value="Vehiculo.Costo" class="form-control"/>
                    <ValidationMessage For="@(() => Vehiculo.Costo)" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Gastos">Gastos:</label>
                    <InputText @bind-Value="Vehiculo.Gastos" class="form-control"/>
                    <ValidationMessage For="@(() => Vehiculo.Gastos)" />
                </div>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">Nuevo <i class="oi oi-file"/></button>
                    <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document"/></button>
                    <button type="button" class="btn btn-outline-danger"@onclick="Eliminar">Eliminar <i class="oi oi-trash"/></button>
                </div>
            </div>
        </div>
    </div>

</EditForm>
<label>@mensaje</label>

@code
{
    [Parameter]

    public int VehiculoId { get; set; }
    public Vehiculo vehiculo { get; set; } = new Vehiculo();
    public string mensaje = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if(VehiculoId > 0)
        {
            vehiculo.VehiculoId = VehiculoId;
            await Buscar();
        }
    }
    public async Task Buscar()
    {
        var clienteEncontrado = await httpclient.GetFromJsonAsync<Vehiculo>($"api/Vehiculo/{vehiculo.VehiculoId}");

        if(clienteEncontrado != null)
        {
            this.vehiculo = clienteEncontrado;
            StateHasChanged();
        }
        else
        {
            mensaje = "Ese vehiculo no se ha encontrado";
        }
    }

    public async void Guardar()
    {
        using var respuesta = await httpclient.PostAsJsonAsync("api/Vehiculo", vehiculo);

        if(Validar())
        {
            if(!respuesta.IsSuccessStatusCode)
            {
                mensaje = respuesta.ReasonPhrase ?? "error";
                return;
            }

            var clienteDevuelto = await respuesta.Content.ReadFromJsonAsync<Vehiculo>();
        
            if(clienteDevuelto is not null)
            {
                vehiculo = clienteDevuelto;
                StateHasChanged();
            }
        }
    }

    public void Nuevo()
    {
        this.vehiculo = new Vehiculo();
        mensaje = string.Empty;
    }

    public bool Validar()
    {
        if(string.IsNullOrEmpty(vehiculo.Fecha))
        {
            return false;
        }
        if(string.IsNullOrEmpty(vehiculo.Descripcion))
        {
            return false;
        }
        if(string.IsNullOrEmpty(vehiculo.Costo))
        {
            return false;
        }
        if(string.IsNullOrEmpty(vehiculo.Gastos))
        {
            return false;
        }    
        else
        {
            return true;
        }
    }

    public async Task Eliminar()
    {
        using var respuesta = await httpclient.DeleteAsync($"api/Vehiculo/{vehiculo.VehiculoId}");

        if(Validar())
        {
           if(!respuesta.IsSuccessStatusCode)
            {
                mensaje = respuesta.ReasonPhrase ?? "error";
                return;
            }
            else
            {
                Nuevo();
            } 
        }
    }
}